---
layout: splash
permalink: /
date: 2018-03-01T00:00:00-00:00
header:
  overlay_color: "#000"
  overlay_filter: "0.2"
  overlay_image: /assets/images/banner.jpg
  cta_label: "Get started"
  cta_url: "/software/"
  caption: "Photo credit: **Waylon Brunette**"
excerpt: "The ODK-X community produces free and open-source software for collecting, managing, and using data in resource-constrained environments."
intro:
- excerpt: "**ODK-X lets you build custom apps to gather, manage, and visualize your data just as well in the field as you do in the office.** <br><br> Our users include [PATH](https://www.path.org/), [World Mosquito Program](https://www.worldmosquitoprogram.org/), the [Red Cross and Red Crescent](http://www.ifrc.org/en/news-and-media/news-stories/americas/bolivia/bolivian-red-cross-and-ifrc-visits-border-between-bolivia-and-brazil--72334/), and many others. <br><br>From cold chain management to longitudinal patient tracking to geographic data collection on mosquito releases, ODK-X helps you build your custom data management app."
feature_row:
  - image_path: /assets/images/scaling.png
    alt: "Build the app you need"
    title: "Build the app you need"
    excerpt: "Developers and data managers can create data management applications that consist of survey forms as well as Javascript-based apps. These allow you to render a fully customizable user interface to gather, manage, and visualize data on an Android device."
feature_row2:
  - image_path: /assets/images/network.png
    alt: "Join the community today"
    title: "Join the community today"
    excerpt: "ODK-X is made by a community of people just like you. We value open communities and open source. We are user-focused and deployment-centric. No matter your background, talent, or skill, you can help make our community and tools better. <br><br> [<i class='fas fa-users'></i> Join the community](/community/){: .btn .btn--primary .btn--large}"
---
<!-- kramdown link button used at end of `feature_row2:excerpt` because with `url` + `btn_label` values the entire feature block becomes a link -->

{% include feature_row id="intro" type="center" %}

{% include feature_row type="left"%}

{% include feature_row id="feature_row2" type="right" %}
